<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo - Keep in Touch</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>BINGO</h1>
        <h2>Welcome to the keep in touch Bingo!</h2>
        <p>Select your name:</p>
        <div class="name-list">
            <a href="/player/Daniel" class="name">Daniel</a>
            <a href="/player/Edda" class="name">Edda</a>
            <a href="/player/Queen" class="name">Queen</a>
            <a href="/player/Emilie" class="name">Emilie</a>
            <a href="/player/Laura" class="name">Laura</a>
            <a href="/player/Tizzi" class="name">Tizzi</a>
            <a href="/player/Yasmine" class="name">Yasmine</a>
            <a href="/player/Geo" class="name">Geo</a>
            <a href="/player/Vilde" class="name">Vilde</a>
        </div>
    </div>
</body>
</html>
